<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Home Page</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<form style="margin-top: 15px" id="addtodo">
    <h1>Add a Todo</h1>
    <table>
        <tr>
            <td>Description</td>
            <td><input type="text" id="description" name="description"/></td>
        </tr>
        <tr>
            <td>Date</td>
            <td><input type="date" id="date" name="date"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td><select name="todoStatus" id="todoStatus">
                <option value="todo" id="todo">TODO</option>
                <option value="done" id="done">DONE</option>
                <option value="delay" id="delay">DELAY</option>
            </select></td>
        </tr>
    </table>
    <input type="submit" value="Save"/>


    <div class="container">
        <div class="row">

            <h1>Todos</h1>

            <table class="table" id="todos">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="todo : ${todos}">
                    <td th:text="${todo.id}"></td>
                    <td th:text="${todo.description}"></td>
                    <td th:text="${todo.todoStatus}"></td>
                    <td th:text="${todo.date}"></td>
                    <td>
                        <a class="btn btn-danger" type="button" id="deletetodo">Delete</a>
                        <button class="btn btn-success" data-th-data-code='${todo.id}' type="button" id="edittodo">Edit</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</form>
</body>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/user.js"></script>
</html>