<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<h1>Employee Form</h1>
<br>
<form th:action="@{/user/addtodo}" th:object="${todo}" method="POST">
    <table>
        <tr>
            <td>Description</td>
            <td><input type="text" name="description"/></td>
        </tr>
        <tr>
            <td>Status</td>
            <td><select name="status">
                <option th:each="status :${statuslist}"
                        th:text="${status}">
            </select></td>
        </tr>
    </table>
    <input type="submit" value="Save"/>
</form>

<div class="container">
    <div class="row">

        <h1>Users</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Index</th>
                <th>Description</th>
                <th>UserId</th>
                <th>Status</th>
                <th>Created At</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="todo : ${todos}">
                <td th:text="${todoStat.index}"></td>
                <td th:text="${todo.description}"></td>
                <td th:text="${todo.userId}"></td>
                <td th:text="${todo.todoStatus}"></td>
                <td th:text="${todo.createdAt}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>